body {
    font-family: 'Open Sans', sans-serif;
    cursor: url('../images/dest/cursor.svg'), auto;
    &.locked {
        overflow: hidden;
        height: 100vh;
    }
}
button,
a {
    cursor: url('../images/dest/cursor.svg'), pointer;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.header {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__body {
    padding: 10px;
    margin-bottom: 20px;
}
.menu {
    &__nav {
        display: none;
    }
    &__nav-list {
        display: flex;
    }
    &__nav-link {
        font-size: 16px;
    }
    &__m-btn {
        margin-right: 25px;
    }
    &__nav-item {
        margin-right: 48px;
    }
}



.m-btn {
    background-color: transparent;
    min-width: 142px;
    padding: 8px 24px;
    width: auto;
    border: 1.5px solid #0E0E0F;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #0E0E0F;
    transition: all .3s linear;
    &:hover,
    &:focus {
        border: 1.5px solid #00BB78;
        color: #00BB78;
    }
    &:disabled {
        border: 1.5px solid #ddd;
        color: #ddd;
    }
}
.nav-link {
    font-weight: 400;
    line-height: 138%;
    text-transform: uppercase;
    color: #0E0E0F;
    &:hover {
        color: #009B63;
    }
}
.nav-item {
    &_spec {
        position: relative;
        padding-left: 20px;
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 14px;
            height: 100%;
            background: url(../images/dest/star.svg) center/ contain no-repeat;
        }
    }
}
.nav-item.active {
    & .nav-link {
        color: #00A76B;
    }
}
.main {
    &__intro {
        position: relative;
    }
}
.intro {
    &__main-title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        display: flex;
        align-items: center;
        pointer-events: none;
    }
}
.main-title {
    font-weight: 600;
    // font-size: 64px;
    font-size: 30px;
    line-height: 136%;
    color: #0E0E0F;
    &_col {
        color: #00A76B;
    }
}
.swiper {
    &__img {
        width: 100%;
    }
    &__img_576 {
        display: none;
    }
    &__pagination {
        position: static;
        padding: 20px 0;
    }
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: relative;
    background-color: transparent;
    &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        display: block;
        width: 8px;
        height: 8px;
        background-color: #E2E3E5;
        border-radius: 50%;
    }
    &-active {
        border: 1px solid #00A76B;
        border-radius: 50%;
        &::before {
            background-color: #00A76B;
        }
    }
}

.page-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 140%;
    color: #18191F;
}

.info-block {
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__dropdown-content {
        // display: none;
        max-height: 0;
        overflow: hidden;
        transition: all .3s linear;
        &_active {
            // display: block;
            max-height: 1000px;
        }
    }
    &__list-item {
        margin-bottom: 14px;
    }
    &__list-item_mod {
        position: relative;
        padding-left: 30px;
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        &:nth-child(1)::before {
            background: url(../images/dest/wapp.svg) center /50% no-repeat, rgba(255, 255, 255, 0.1);
        }
        &:nth-child(2)::before {
            background: url(../images/dest/mail.svg) center /50% no-repeat, rgba(255, 255, 255, 0.1);
        }
        &:nth-child(3)::before {
            background: url(../images/dest/tg.svg) center /50% no-repeat, rgba(255, 255, 255, 0.1);
        }
    }
    &__link {
        font-weight: 400;
        font-size: 16px;
        // line-height: 130%;
        color: #FFFFFF;
        line-height: 1.7;
        &:hover {
            text-decoration: underline;
        }
    }
    &__link_sm {
        font-size: 14px;
    }
    &__img {
        width: 108px;
        height: 154px;
        background: #009B63;
        border-radius: 16px;
    }
    &__dropdown-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
        cursor: pointer;
    }
    &__dropdown-arrow {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    &__dropdown-arrow-img_active {
        transform: rotate(-180deg);
    }
}
.user-data-form {
    max-width: 450px;
    position: relative;
    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
    }
    &__input {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        min-height: 40px;
        width: 100%;
        font-size: 16px;
        line-height: 171%;
        color: #FFFFFF;
        padding: 9px 12px;
        &::placeholder {
            font-size: 14px;
            line-height: 171%;
            color: #FFFFFF;
        }
        &:focus,
        &:focus-visible {
            box-shadow: 0 0 1px 1px #fff;
        }
    }
}
.socials {
    &__item {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
    }
    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}