.footer {
    background-color: #00A76B;
    &__body {
        padding: 20px;
    }
    &__info-block {
        margin-bottom: 40px;
    }
    &__copyright {
        font-size: 12px;
        text-align: center;
        padding-bottom: 20px;
        color: #fff;
    }
    &__socials {
        display: flex;
        gap: 16px;
    }
    &__user-data-form {
        margin-bottom: 50px;
    }
}